/collectd-claudia/target/
/*/target/
*.swp
/collectd-rpm/BUILD/collectd-5.0.1/libltdl/.deps/
/collectd-rpm/BUILD/collectd-5.0.1/src/libcollectdclient/.libs/
/collectd-rpm/BUILD/collectd-5.0.1/src/.deps/
/collectd-rpm/BUILD/collectd-5.0.1/libltdl/.libs/
/collectd-rpm/BUILD/collectd-5.0.1/src/liboconfig/.libs/
/collectd-rpm/BUILD/collectd-5.0.1/src/owniptc/.libs/
/collectd-rpm/BUILD/collectd-5.0.1/src/.libs/
/collectd-rpm/BUILD/collectd-5.0.1/bindings/java/.libs/
/support/collectd-rpm/BUILD/collectd-5.0.1/bindings/java/.libs/
/support/collectd-rpm/BUILD/collectd-5.0.1/libltdl/.deps/
/support/collectd-rpm/BUILD/collectd-5.0.1/libltdl/.libs/
/support/collectd-rpm/BUILD/collectd-5.0.1/src/.deps/
/support/collectd-rpm/BUILD/collectd-5.0.1/src/.libs/
/support/collectd-rpm/BUILD/collectd-5.0.1/src/libcollectdclient/.libs/
/support/collectd-rpm/BUILD/collectd-5.0.1/src/liboconfig/.libs/
/support/collectd-rpm/BUILD/collectd-5.0.1/src/owniptc/.libs/
/support/collectd-rpm/BUILD/collectd-5.0.0/bindings/java/.libs/
/support/collectd-rpm/BUILD/collectd-5.0.0/libltdl/.libs/
/support/collectd-rpm/BUILD/collectd-5.0.0/src/.deps/
/support/collectd-rpm/BUILD/collectd-5.0.0/src/.libs/
/support/collectd-rpm/BUILD/collectd-5.0.0/src/libcollectdclient/.libs/
/support/collectd-rpm/BUILD/collectd-5.0.0/src/liboconfig/.libs/
/support/collectd-rpm/BUILD/collectd-5.0.0/src/owniptc/.libs/